<section class="flex justify-center items-center min-h-screen bg-cover bg-center" style="background-image: url('https://issues.fr/wp-content/uploads/2023/12/Lenergie-du-plancton-liberer-la-capacite-cachee-de-stockage-du.jpg');">
  <div class="max-w-xl w-full p-8 bg-white bg-opacity-70 rounded-lg shadow-xl">
    <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">Sign Up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <!-- Display errors -->
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- Username field -->
      <div class="mb-5">
        <%= f.label :username, class: "block text-base font-medium text-gray-700" %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "mt-2 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
      </div>

      <!-- Email field -->
      <div class="mb-5">
        <%= f.label :email, class: "block text-base font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-2 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
      </div>

      <!-- Password field -->
      <div class="mb-5">
        <%= f.label :password, class: "block text-base font-medium text-gray-700" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "mt-2 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
      </div>

      <!-- Password confirmation field -->
      <div class="mb-5">
        <%= f.label :password_confirmation, class: "block text-base font-medium text-gray-700" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-2 block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 text-sm" %>
      </div>

      <!-- Sign up button -->
      <div class="mb-5">
        <%= f.submit "Sign Up", class: "w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-lg shadow-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 text-sm" %>
      </div>

    <% end %>

    <!-- Devise links -->
    <div class="text-center mt-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
