<section class="flex justify-center items-center min-h-screen bg-cover bg-center" style="background-image: url('https://issues.fr/wp-content/uploads/2023/12/Lenergie-du-plancton-liberer-la-capacite-cachee-de-stockage-du.jpg');">
  <div class="max-w-lg w-full p-10 bg-white bg-opacity-70 rounded-lg shadow-xl">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">Mot de passe oublié</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <!-- Affichage des erreurs -->
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- Champ email -->
      <div class="mb-6">
        <%= f.label :email, class: "block text-lg font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-2 block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" %>
      </div>

      <!-- Bouton de soumission -->
      <div class="mb-6">
        <%= f.submit "Envoyer les instructions de réinitialisation", class: "w-full py-3 px-4 bg-indigo-600 text-white font-semibold rounded-lg shadow-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500" %>
      </div>

    <% end %>

    <!-- Liens Devise -->
    <div class="text-center mt-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
